.converter {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  padding-top: 60px;
}

.wrapper {
  width: 100%;
  max-width: 1260px;
  padding-left: 45px;
  padding-right: 45px;
}

.title {
  font-size: 41px;
  font-family: var(--font-bold);
  margin: 0;
  margin-bottom: 57px;
}

.text {
  font-size: 22px;
  font-family: var(--font-medium);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 85px 120px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: url("../../assets/img/arrows.svg");
    background-position: center;
    top: 50px;
    left: 50%;
    transform: translateX(-27.5px);
    background-repeat: no-repeat;
  }
}

.label {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.button {
  width: 382px;
  height: 60px;
  margin-top: 21px;
  font-family: var(--font-medium);
  font-size: 18px;
  line-height: 25px;
  color: var(--ghost--white);
  background-color: var(--neon-blue);
  border: 1px solid var(--neon-blue);
  border-radius: 4px;

  &:hover:not(:disabled) {
    cursor: pointer;
    opacity: 0.7;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.calendar {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 1px solid var(--jaguar);
  overflow: hidden;
  width: 390px;
}
