.promo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 400px;
  background-color: var(--neon-blue);

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 400px;
    content: "";
    background-image: linear-gradient(
      180.24deg,
      var(--neon-blue-light) 36.31%,
      var(--persianblue) 99.79%
    );
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 298px;
    height: 400px;
    content: "";
    background-image: linear-gradient(
      180.24deg,
      var(--neon-blue-light) 32.89%,
      var(--persianblue) 99.79%
    );
  }
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1366px;
  min-height: 400px;
  padding: 101px 0 108px 268px;

  &::before {
    position: absolute;
    bottom: 0;
    left: 150px;
    width: 150px;
    height: 269px;
    content: "";
    background-image: linear-gradient(
      183.47deg,
      var(--neon-blue-gradient) 66.3%,
      #3841ff 97.14%
    );
  }

  &::after {
    position: absolute;
    right: 298px;
    bottom: 0;
    width: 270px;
    height: 269px;
    content: "";
    background-image: linear-gradient(
      183.47deg,
      var(--neon-blue-gradient) 27.26%,
      var(--neon-blue-blue) 97.14%
    );
  }
}

.title {
  position: relative;
  max-width: 500px;
  margin: 0;
  font-size: 54px;
  font-family: var(--font-bold);
  color: var(--ghost--white);

  &::before {
    position: absolute;
    top: -40px;
    left: 430px;
    z-index: 2;
    width: 430px;
    height: 260px;
    content: "";
    background-image: url("../../assets/img/credit-cards.png");
  }
}

.text {
  margin-top: 10px;
  margin-bottom: 35px;
  font-size: 22px;
  color: var(--quartz);
}

.button {
  display: block;
  min-width: 234px;
  min-height: 53px;
  padding: 17px 35px 16px;
  font-size: 18px;
  font-family: var(--font-medium);
  color: var(--jaguar);
  background-color: var(--ghost--white);

  &:hover {
    opacity: 0.8;
  }
}
