:root {
  --font-regular: "Roboto Regular", "Arial", sans-serif;
  --font-medium: "Roboto Medium", "Arial", sans-serif;
  --font-bold: "Roboto Bold", "Arial", sans-serif;

  --ghost--white: #f6f7ff;
  --neon-blue: #2c36f2;
  --neon-blue-light: rgba(32, 39, 179, 0);
  --neon-blue-gradient: rgba(32, 39, 179, 0);
  --neon-blue-blue: #3841ff;
  --jaguar: #1f1e25;
  --persianblue: #2027b3;
  --basic-black: #000000;
  --basic-light-black: rgba(0, 0, 0, 0.25);
  --basic-white: #ffffff;
  --slate-grey: #707c87;
  --ghost: #c1c2ca;
  --quartz: #e0e1ea;
}
