// @import-normalize;

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Roboto';

  font-display: swap;
  src: url('../../assets/fonts/roboto-regular.woff2') format('woff2'),
    url('../../assets/fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: 'Roboto';

  font-display: swap;
  src: url('../../assets/fonts/roboto-medium.woff2') format('woff2'),
    url('../../assets/fonts/roboto-medium.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Roboto';

  font-display: swap;
  src: url('../../assets/fonts/roboto-bold.woff2') format('woff2'),
    url('../../assets/fonts/roboto-bold.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #1f1e25;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
