.list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
  grid-auto-flow: column;
  row-gap: 26px;
  column-gap: 250px;
  margin-bottom: 47px;
  min-height: 200px;
}
