.history {
  margin-bottom: 110px;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  min-height: 477px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: var(--ghost--white);
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  border-radius: 4px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-0.5px);
    top: 100px;
    bottom: 88px;
    background-color: var(--ghost);
    width: 1px;
    box-shadow: 0px 4px 4px var(--basic-light-black);
  }
}

.title {
  font-family: var(--font-medium);
  font-size: 28px;
  line-height: 39px;
}

.button {
  margin-top: 16px;
  padding: 20px 30px;
  font-family: var(--font-medium);
  font-size: 18px;
  line-height: 19px;
  color: var(--ghost--white);
  background-color: var(--neon-blue);
  border: 1px solid var(--neon-blue);
  border-radius: 4px;

  &:hover:not(:disabled) {
    cursor: pointer;
    opacity: 0.7;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}
